.button{
    border-radius: 5px;
    border: 1px solid #f95a92;
    background-color: #ffffff;
    color: #f95a92;
    font-size: 1.2rem;
    padding: 10px 55px;
    outline: none;
    cursor: pointer;
}