.toDoAppContainer {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 700px;
  color: #424242;
}

.toDoList {
  border-radius: 5px;
  max-height: 300px;
  overflow: scroll;
  -webkit-box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.33),
    0px 0px 11px -3px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.33),
    0px 0px 11px -3px rgba(0, 0, 0, 0.23);
}
